@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #0000003c;
}
header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > h1 {
    color: #21244C;
}
header > a{
    background-color: #21244C;
}
header, main{
    margin: 25px;
}
a{
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
    border-radius: 40px;
    font-size: 25px;
}
article > a{
    background-image: linear-gradient(to top, #ff0000, #df08bc);
    display: inline-block;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
article > h1{
    color: #21244C;
    font-size: 50px;
}
section > p{
    line-height: 1.5em;
}
.imagem{
    background-image: url('../src/imagens/imagem.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    margin-top: 30px;
}
.cursos{
    display: flex;
    flex-direction: column;
}
.cursos > article{
    min-height: 375px;
    max-width: 480px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px 30px;
    margin: 40px 0px;
}
aside{
    background-image: linear-gradient(to top, #ff0000, #df08bc);
    color: #ffffff;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #000000;
    font-size: 25px;
    min-height: 375px;
    max-width: 480px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 50px 0px;
}
article > p{
    font-size: 28px;
    text-align: justify;
}
.tipo-curso{
    font-weight: 700;
    color: #090288;
}
.get-started{
    font-weight: 700;
    color: #df08bc;
}
article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.icone{
    background-color: #000000;
    padding: 20px;
    border-radius: 50%;
    margin-top: 20px;
}
footer{
    height: 150px;
    background-color: #060346;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
footer > h1 {
    color: #ffffff;
}
footer > a {
    display: block;
    color: #ffffff;
    background-image: linear-gradient(to top, #005eff, #df08bc);
}