@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #00000013;
    width: 95vw;
    overflow-x: hidden;
}
header{
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 23px;
}
header > h1 {
    color: #21244C;
}
header > a{
    background-color: #21244C;
    font-size: 30px;
}
header, main{
    width: 80vw;
    margin: auto;
}
a{
    color: #ffffff;
    text-decoration: none;
    padding: 30px;
    border-radius: 50px;
    font-size: 25px;
}
article > a{
    background-image: linear-gradient(to top, #ff0000, #df08bc);
    display: inline-block;
}
article > h1{
    color: #21244C;
    font-size: 50px;
}
.primeira-secao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cursos{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.cursos-populares{
    background-image: linear-gradient(to top, #ff0000, #df08bc);
    color: white;
}
section > p{
    line-height: 1.5em;
}
.cursos > article{
    max-width: 480px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px 30px;
}
.cursos > article:hover{
    transform: scale(0.9);
    transition: 1s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 1px 10px #000000;
}
article > p{
    font-size: 28px;
    text-align: justify;
}
.tipo-curso{
    font-weight: 700;
    color: #090288;
}
.get-started{
    font-weight: 700;
    color: #df08bc;
}
article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.icone{
    background-color: #000000;
    padding: 20px;
    border-radius: 50%;
}
.icone:hover{
    transform: rotate(1turn);
    transition: 1s ease-in-out;
    cursor: pointer;
}
footer{
    height: 150px;
    background-color: #060346;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
footer > h1 {
    color: #ffffff;
}
footer > a {
    display: block;
    color: #ffffff;
    background-image: linear-gradient(to top, #005eff, #df08bc);
}