@media screen and (min-width:481px) and (max-width: 768px){
    header, main{
        width: 70vw;
        margin: auto;
    }
    .primeira-secao > article{
        width: 50%;
        margin: 0px 50px;
    }
    .imagem{
        border-radius: 10px;
        height: 500px;
    }
    section{
        flex-direction: row;
        align-items: center;
    }
    .cursos{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }
    aside{
        height: 375px;
    }

}
@media screen and (min-width: 769px) {
    header, main{
        width: 70vw;
        margin: auto;
    }
    .primeira-secao > article{
        width: 30%;
        margin-right: 100px;
    }
    .titulo-principal{
        width: 60%;
    }
    section{
        flex-direction: row;
        align-items: center;
    }
    .imagem{
        border-radius: 10px;
        height: 400px;
    }
    .cursos{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }
    aside{
        height: 375px;
    }

}