@media screen and (min-width:481px) and (max-width: 768px){
    body{
        width: 100vw;
    }
    header, main{
        width: 90vw;
    }
    .primeira-secao{
        flex-direction: row;
        align-items: center;
    }
    picture{
        width: 60%;
    }
    .cursos{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .cursos > article
    {
        width: 45%;
    }
    .cursos > article > p{
        font-size: 19px;
    }
    .cursos-populares:hover{
        background-image: url('../src/imagens/menina.png');
        background-size: cover;
        background-position: center bottom;
        background-repeat: no-repeat;
        color: #000000;
    }
    main{
        display: flex;
        flex-direction: column;
        gap: 100px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1200px){
    body{
        width: 100vw;
    }
    header{
        align-items: end;
    }
    header, main{
        width: 92vw;
        margin: auto;
    }
    .primeira-secao{
        flex-direction: row;
        align-items: center;
    }
    picture{
        width: 60%;
    }
    .cursos{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .cursos-populares:hover{
        background-image: url('../src/imagens/menina.png');
        background-size: cover;
        background-position: center bottom;
        background-repeat: no-repeat;
        color: #000000;
    }
    main{
        display: flex;
        flex-direction: column;
    }
    .cursos > article{
        width: 29%;
    }
    .cursos > article > p{
        font-size: 19px;
    }

}
@media screen and (min-width: 1201px){
    .primeira-secao{
        flex-direction: row;
        align-items: center;
    }
    body{
        width: 100vw;
    }
    header{
        align-items: end;
    }
    header, main{
        width: 92vw;
        margin: auto;
    }
    picture{
        width: 50%;
    }
    .cursos{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .cursos > article{
        width: 29%;
    }
    .cursos > article > p{
        font-size: 19px;
    }
    .cursos-populares:hover{
        background-image: url('../src/imagens/menina.png');
        background-size: cover;
        background-position: center bottom;
        background-repeat: no-repeat;
        color: #000000;
    }
    

}
